@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 
body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  margin: 0;
  background-image: url('https://i.imgur.com/mGSAvlp.png');
  background-size:cover;
  background-repeat:no-repeat;
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body::-webkit-scrollbar {
  width: 5px;
  height: 4px;

}

body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground-rgb), 0.5);

  border-radius: 6px;

}



body::-webkit-scrollbar-track {
  background: linear-gradient(to right, rgba(var(--background-start-rgb), 0.8), rgba(var(--background-end-rgb), 0.8));
}

body::-webkit-scrollbar-track:hover {
  background: linear-gradient(to right, rgba(var(--background-start-rgb), 0.9), rgba(var(--background-end-rgb), 0.9));
}

